*{
	margin: 0;
	padding: 0;
}


.maincart{
	/* margin-top: 10px;	
	margin-left: 10px; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color:#ebd7ff;
}

#menubar{
	height: 70px;
	width: 100%;
	background: #ffa3a3;
	padding-left: 15px;
	padding-right: 15px;
}

#menu-title {
	display: flex;
	float: left;
	margin-top: 20px;
	color: #212b2b;
}

.sort-option {
	margin-top: 3px;
}

#sort {
	margin-top: 22px;
	font-size: 18px;
	display: flex;
	float: right;
}

#sort-metrics {
	padding-left:5px; 
	font-size: 15px;
	width: 200px;
	height: 30px;
	border-radius: 10px;
}

.cart {
	margin:20px;	
	padding:10px;
	background: #e9e6ec;
	box-shadow: 0px 0px 15px 6px #283e530c;
}

.name{
	margin-top: 12px;
	margin-right: 20px;
	font-size: 18px;
	color: white;
}

#user{
	display: flex;
	float: right;
	margin: auto;
	padding-right: 40px;
	padding-top: 10px;
}

#logo {
	display: inline;
	float: left;
	margin: auto;
	padding-left: 30px;
	padding-top: 20px;
	color:white;
}

.nav {
	height: 70px;
	background-color: #ec4a4a;
}


.profile {
  height: 35px;
  width: 35px;
  margin-top: 2px;
  display: inline-block;
}

#img {
	border-radius: 50%;
}

#hotel-title {
	max-width: 180px;
}


div.cart  p {
		white-space: nowrap; 
  	overflow: hidden;
		text-overflow: ellipsis;
		width: 180px;
}

div.cart  p:hover {
		text-overflow: clip;
    white-space: normal;
    word-break: break-all;
}

