*{
	margin:0px;
	padding:0px;
}

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');	

body {
    width: 100%;
    height: 100%;
	font-family: 'Nunito', sans-serif;
}

#id1 {
	float: left
}

#input {
	width: 400px;
	padding: 10px;
	border-color: black;
	margin: 6px 0 6px 0;
	border-radius: 30px;
	border-width: 0.1rem;
	height: 15px;
}



#btn {
	width: 400px;
	height: 30px;
	font-size: 17px;
	background-color: #ec4a4a;
	border-color: #ec4a4a;
	color: white;
	border-radius: 25px;
	
}

#logoApp{
	font-size: 60px;
	color: #ec4a4a;
	font-family:'Akronim', cursive;
	padding:100px 0px 100px 0px;
}
